<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>黑喵的窩</title>
    <meta name="description" content="黑喵的窩，甚麼都賣，甚麼都沒貨喔">

    <script src="https://kit.fontawesome.com/70c17f03dd.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/j449_7_1.ico"> 

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">


</head>
<body>
       


    <div id="wrapper">
        <div id="header" class="fixed-div">
            <nav class="nav">
                <div class="nav-1">
                    <a href="">
                        <img src="images/j442_8_9.png" alt="">
                    </a>
                </div>
                <div class="nav-2">
                    <ul>
                        <li>
                            <a href="#content" @click="page = 'content' ">首頁</a>
                        </li>
                        <li>
                            <a href="#mall" @click="page = 'mall' , getdata()">商品目錄</a>
                        </li>
                        <li>
                            <a href="#order" @click="page = 'order' ">我的訂單</a>
                            <p> ( {{CarQuantity}} )</p>
                        </li>
                        <li :class="{ display_none:UserMod === 'GM'}">
                            <a href="#login" @click="page = 'login' ">登入</a>
                        </li>
                        <li class="gm-li" :class="{ display_inline_block:UserMod === 'GM'}">[後台模式]</li>
                    </ul>
                </div>
            </nav>
        </div>




        <!-- 首頁 -->
        <div id="content" class="page" :class="{ display_none:page !== 'content'}">
            <div class="content-home">
                <div class="content-00 content-01">
                    <div class="content-swiper">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="images/j404_13_1.png" alt="1">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="images/j404_13_2.png" alt="2">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="images/j404_13_3.png" alt="3">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="images/j404_13_4.png" alt="4">
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
    
                    </div>
                </div>
                <div class="content-00 content-02">
                    <h3>熱門商品</h3>
                    <div class="content-swiper">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper Hot">

                                <div class="swiper-slide" v-for="item in filterProducts(Commodity)" :key="item.id">
                                    <div class="commodity"  >
                                        <div class="commodity-img" @click="page = 'mall' , getdata() , type = item.type">
                                            <img :src="item.img" alt=" ">
                                        </div>
                                        <div class="commodity-data">
                                            <h4>{{ item.name }}</h4>
                                            <span>${{ item.nprice }}</span>
                                            <p>${{ item.price }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                          </div>
                    </div>
                </div>
                <div class="content-00 content-03">
                    <img src="images/j449_13_15.png" alt="">
                    <br>
                    <div class="content-text">
                         <h4>歡慶開幕</h4>
                         <p>全館商品 <span>８折優惠中</span> ！！</p>
                         
                    </div>
                </div>
                <div class="content-00 content-02">
                    <h3>新品上架</h3>
                    <div class="content-swiper">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper New">

                                <div class="swiper-slide" v-for="item in filterProducts(Commodity)" :key="item.id">
                                    <div class="commodity"  >
                                        <div class="commodity-img" @click="page = 'mall' , getdata() , type = item.type">
                                            <img :src="item.img" alt=" ">
                                        </div>
                                        <div class="commodity-data">
                                            <h4>{{ item.name }}</h4>
                                            <span>${{ item.nprice }}</span>
                                            <p>${{ item.price }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                          </div>
                    </div>
                </div>
                <div class="content-00 content-05">
                    <h3>當前活動</h3>
                    <div class="content-text">
                        <a class="content-event">
                            <div>
                            <img src="images/j381_6_8.png" alt="">
                            <h4>會員數爆滿！！10/20-11/30期間多項商品優惠販售。</h4>
                            </div>
                        </a>
                         
                        <a class="content-event">
                            <div>
                            <img src="images/j401_6_3.png" alt="">
                            <h4>不給糖就搗蛋，國際食品７折優惠中。</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 商品 -->
        <div class="load-scene mall-info" style="display:flex;">
            <div class="load" >
                <div style="color: #6481e2" class="la-square-jelly-box la-dark la-2x">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>

        <div class="mall-info" :class="{ display_flex:info}" @click="info = false">
            <div class="info" >
                <div class="info-img"><img :src="UpdataImg" alt=" "></div>
                <h2>{{UpdataName}}</span>
                <h4>{{UpdataInfo}}</h4>
                <div class="info-price">
                    <span>特價 NT ${{UpdataNPrice}}</span>
                    <p>原價 NT ${{UpdataPrice}}</p>
                </div>
            </div>
            </div>


        <div id="mall" class="page" :class="{ display_none:page !== 'mall'}">
            <div class="mall-home">



                <div class="mall-swiper">
                    <div class="swiper mySwiper3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="img_box">
                                <img src="images/j448_10_1.png" alt="1">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_box">
                                <img src="images/j448_10_1.png" alt="1">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                </div>  

                <div class="mall-list">
                    
                    <button @click="NowAdd = true" class="gm-add" :class="{ display_inline_block:UserMod === 'GM'}">
                        新增商品
                    </button>


                    <div class="mall-list-01">
                        <ul>
                            <li @click="type = 'all' " :class="{ mall_list_use:type == 'all'}">全部商品</li>
                            <li @click="type = '3c' " :class="{ mall_list_use:type == '3c'}">3C商品</li>
                            <li @click="type = 'food' " :class="{ mall_list_use:type == 'food'}">食品</li>
                            <li @click="type = 'book' " :class="{ mall_list_use:type == 'book'}">書籍</li>
                            <li @click="type = 'life' " :class="{ mall_list_use:type == 'life'}">居家百貨</li>
                            <li @click="type = 'pet' " :class="{ mall_list_use:type == 'pet'}">寵物用品</li>
                        </ul>
                    </div>
                    <div class="mall-list-02">
                        <div><i class="fa-solid fa-magnifying-glass"></i></div>
                        <input type="text" v-model.lazy.trim="Search">
                    </div>

                </div>

                <div class="mall-catalog">
                    <div class="commodity-catalog">


                        <div class="commodity"  v-for="item in filterProducts(Commodity)" :key="item.id" :class="{ display_none:type !== item.type && type !== 'all'}">
                            <div class="gm-button" :class="{ display_inline_block:UserMod === 'GM'}">
                                <div @click="edit = true, UseEdit(item.id), UpdataID = item.id" class="gm-edit"><i class="fa-solid fa-gear fa-2x"></i></div>
                                <div @click="removeCommodity(item.id), getdata()" class="gm-remove"><i class="fa-solid fa-bomb fa-2x"></i></div>
                            </div>
                            <div class="commodity-img" @click="UseEdit(item.id), info = true">
                                <img :src="item.img" alt=" ">
                            </div>
                            <div class="commodity-data">
                                <h4>{{ item.name }}</h4>
                                <span>${{ item.nprice }}</span>
                                <p>${{ item.price }}</p>
                            </div>
                            <div class="commodity-button">
                                <button class="commodity-button-1" @click="UseEdit(item.id), info = true">詳細內容</button>
                                <button class="commodity-button-2" @click="addCar(item.id)">加入購物車</button>
                            </div>
                        </div>

                        <div class="notice">
                        <transition>
                        <div class="commodity-notice" v-show="isShow">
                            <p>已加入購物車</p>
                        </div>
                        </transition>
                        </div>

                        <div class="gm-scene" :class="{ display_flex:edit || NowAdd || editOK || NowAddOK || removeOK, display_none:UserMod !== 'GM'}">
                            <div class="gm-commodity" :class="{ display_none:!edit || UserMod !== 'GM'}">
                                <span>您正在編輯，編號：{{UpdataID}} 的商品</span>
                                <p>商品圖片</p>
                                <input v-model="UpdataImg" type="text">
                                <p>商品名稱</p>
                                <input v-model="UpdataName" type="text">
                                <p>商品類別</p>
                                <select v-model.lazy.trim="UpdataType">
                                    <option value="3c">3C商品</option>
                                    <option value="food">食品</option>
                                    <option value="book">書籍</option>
                                    <option value="life">居家百貨</option>
                                    <option value="pet">寵物用品</option>
                                </select>
                                <p>商品介紹</p>
                                <input v-model="UpdataInfo" type="text">
                                <p>商品原價</p>
                                <input v-model="UpdataPrice" type="number">
                                <p>商品售價</p>
                                <input v-model="UpdataNPrice" type="number">
                                <button @click="editCommodity(UpdataID), edit = false">完成編輯</button>
                                <button @click="edit = false">取消編輯</button>
                            </div>

                            <div class="gm-commodity" :class="{ display_none:!NowAdd || UserMod !== 'GM'}">
                                <span>您正在新增商品...</span>
                                <p>商品編號</p>
                                <input placeholder="商品編號" type="text" v-model.lazy.trim="CommodityID">
                                <p>商品名稱</p>
                                <input placeholder="商品名稱" type="text" v-model.lazy.trim="CommodityName">
                                <p>商品類別</p>
                                <select v-model.lazy.trim="CommodityType">
                                    <option value="3c">3C商品</option>
                                    <option value="food">食品</option>
                                    <option value="book">書籍</option>
                                    <option value="life">居家百貨</option>
                                    <option value="pet">寵物用品</option>
                                </select>
                                <p>商品介紹</p>
                                <input placeholder="商品介紹" type="text" v-model.lazy.trim="CommodityInfo">
                                <p>商品圖片</p>
                                <input placeholder="商品圖片" type="text" v-model.lazy.trim="CommodityImg">
                                <p>商品原價</p>
                                <input placeholder="商品原價" type="number" v-model.lazy.trim="CommodityPrice">
                                <p>商品售價</p>
                                <input placeholder="商品售價" type="number" v-model.lazy.trim="CommodityNPrice">
                                <button @click="setbase(), NowAdd = false">新增商品</button>
                                <button @click="NowAdd = false">取消新增</button>
                            </div>

                            <div class="gm-commodity" :class="{ display_none:!NowAddOK}">
                                <span>商品新增完成</span>
                                <button @click="NowAddOK = false">OK</button>
                            </div>

                            <div class="gm-commodity" :class="{ display_none:!editOK}">
                                <span>商品編輯完成</span>
                                <button @click="editOK = false">OK</button>
                            </div>

                            <div class="gm-commodity" :class="{ display_none:!removeOK}">
                                <span>商品已移除</span>
                                <button @click="removeOK = false">OK</button>
                            </div>

                        </div>

                    </div>




                </div>
            </div>
        </div>

        <!-- 訂單 -->
        <div id="order" class="page" :class="{ display_none:page !== 'order'}">
            <div class="order-car" :class="{ display_none:false}">
                <div class="order-commodity" v-for="(item, key, index) in Car">
                    <div class="order-img">
                        <img :src="item.img" alt=" " @click="UseEdit(item.id), info = true">
                    </div>
                    <h4 @click="UseEdit(item.id), info = true">{{item.name}}</h4>
                    <div class="order-quantity">
                        <a @click="removeQuantity(item.id)"><i class="fa-solid fa-minus"></i></a>
                        <p>{{item.quantity}}個</p>
                        <a @click="addQuantity(item.id)"><i class="fa-solid fa-plus"></i></a>
                    </div>
                    <span>NT ${{item.total}}</span>
                    <button @click="removeCar(item.id)"><i class="fas fa-trash trash"></i></button>
                </div>
                <div class="car-checkout">
                    <p>總計 NT ${{totalMoney}}</p>
                    <button @click="pay = true">結帳</button>
                </div>
            </div>


            <div id="bill" class="mall-info" :class="{ display_flex:pay}">
            <div class="pay-home" :class="{ display_flex:pay}">
                <div id="pay-form" action="">
                    <p>請輸入收件資料</p>
                    <label for="pay-name" id="name-label">姓名</label><br>
                    <input id="pay-name" type="text" placeholder="姓名" required v-model="payname">
                    <br>
                    <label for="pay-address" id="address-label">地址</label><br>
                    <input id="pay-address" type="text" placeholder="地址" required v-model="payaddress">
                    <br>
                    <label for="pay-email" id="email-label">信箱</label><br>
                    <input id="pay-email" type="email" placeholder="信箱" required v-model="payemail">
                    <br>
                    <label for="pay-tote" id="name-label">到府時間 / 貨到付款</label><br>
                    <select id="pay-tote" v-model="paytote">
                        <option value="任何時間">任何時間皆可</option>
                        <option value="1300之前">13:00之前</option>
                        <option value="1300-1700之間">13:00-17:00之間</option>
                    </select>
                    <br>
                    <label for="pay-text" id="name-label">備註</label><br>
                    <textarea id="pay-text" v-model="paymessage"></textarea><br>
                    <button @click="checkout()">送出訂單</button>
                    <button @click="pay = false">取消</button>
                </div>
            </div>
            </div>

            <div class="order-search">
                <h1>訂單查詢</h3>
                <div>
                    <input type="text" v-model.lazy.trim="OrderSearchNumber">
                    <button class="login-button" @click="OrderSearch() ">送出</button>
                </div>
            </div>
            <div class="order-order" :class="{ display_none:!OrderSearchUse}">
                <div class="order-data-home">
                <p>訂單編號：{{OrderSearchNumber2}}</p>
                <p>結帳日期：{{OrderTime}}</p>
                <p>付款金額：NT{{OrderTotal}}元</p>
                <div class="order-data">
                    <p>收件人：{{OrderData.name}}</p>
                    <p>地址：{{OrderData.address}}</p>
                    <p>信箱：{{OrderData.email}}</p>
                    <p>收件時間：{{OrderData.tote}}</p>
                    <p>備註：{{OrderData.message}}</p>
                </div>
                </div>
                
                <div class="order-commodity" v-for="(item, key, index) in OrderCar">
                    <div class="order-img">
                        <img :src="item.img" alt=" ">
                    </div>
                    <h4>{{item.name}}</h4>
                    <div class="order-quantity">
                        <p>{{item.quantity}}個</p>
                    </div>
                    <span>NT ${{item.total}}</span>
                </div>


            </div>
        </div>
        <!-- 登入 -->
        <div id="login" class="page" :class="{ display_none:page !== 'login'}">
            <div class="login-home">
                <h3>會員登入</h3>
                <p>會員帳號</p>
                <input type="text" placeholder="帳號" name="" id="aa" v-model.lazy="UserName">
                <p>會員密碼</p>
                <input type="password" placeholder="密碼" name="" id="bb" v-model.lazy="UserPassworld">
                <button class="login-button" @click="Login()">登入</button>
            </div>
            
        </div>
        <!-- 底部 -->
        <div id="footer">
            <div class="footer-00">
                <div class="footer-01">
                    <p>關於黑喵的窩</p>
                    <p>加入我們</p>
                    <p>相關條款</p>
                    <p>隱私權政策</p>
                </div>
                <div class="footer-02">
                    <p>聯絡我們</p>
                    <p>TEL:0971266373</p>
                    <p>Mail:Meow9520@gmail.com</p>
                    <p>地址:XX市XX區</p>
                </div>
            </div>
            <div class="footer-03">
                <div>
                    <i class="fa-brands fa-facebook fa-2x"></i>
                    <i class="fa-brands fa-youtube fa-2x"></i>
                    <a href="https://github.com/JustWuu" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
                </div>
                <p>©  rty21785／2022 中文的作品集</p>
            </div>
        </div>
    </div>


    
    <script type="module">

    //firebase
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
    import { getDatabase, set, get, child, update, remove, ref as fireref, } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-database.js";

    const firebaseConfig = {
        apiKey: "AIzaSyD34xPhJqs3heZUCKmGvc5E-5PBvD-KE4c",
        authDomain: "mallpractise-cca1b.firebaseapp.com",
        projectId: "mallpractise-cca1b",
        storageBucket: "mallpractise-cca1b.appspot.com",
        messagingSenderId: "543243109029",
        appId: "1:543243109029:web:ee72f293bbfd843319434c"
    };
    // Initialize Firebase
    const firebase = initializeApp(firebaseConfig);
    const db = getDatabase();

    //firebase



    // Vue
    import { createApp ,ref ,watch ,onMounted} from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.40/vue.esm-browser.prod.min.js"
    const NewApp = createApp({
        setup(){
            // 首頁
            const page = ref('content')
            // 首頁結束

            // 商品
            const type = ref('all')
            const Commodity = ref([])
            const Search = ref('')
            function filterProducts(Commodity) {
                return Commodity.filter(Commodity => Commodity.name.match(Search.value));
            }
            
            // 商品結束

            // 取得firebase商品資料
                // 初始資料
            onMounted(()=>{
                const dbref = fireref(db)
                get(child(dbref,"Commodity")).then((snapsoht)=>{
                    if(snapsoht.exists()){
                        const data = snapsoht.val()
                        const snapsohtData = []
                        for (let item in data){
                            snapsohtData.push(data[item])
                        }
                        Commodity.value = snapsohtData
                    }else{
                        console.log("沒有任何商品...")
                    }
                })
                .catch((error)=>{
                    alert("資料存取錯誤")
                })
            })
            
                // 點擊更新資料
            function getdata(){
                const dbref = fireref(db)
                get(child(dbref,"Commodity")).then((snapsoht)=>{
                    if(snapsoht.exists()){
                        const data = snapsoht.val()
                        const snapsohtData = []
                        for (let item in data){
                            snapsohtData.push(data[item])
                        }
                        Commodity.value = snapsohtData
                    }else{
                        const snapsohtData = []
                        Commodity.value = snapsohtData
                        alert("沒有任何商品")
                    }
                })
                .catch((error)=>{
                    alert("資料存取錯誤")
                })
            }
            // 取得firebase商品資料


            // info顯示
            const info = ref(false)
            // info結束


            // 購物車
            const Car = ref([])
            const CarQuantity = ref(0)
            const totalMoney = ref(0)

                // 加入購物車
            function addCar(ID){     
                const addCarCommodity = {quantity:0}
                for(let i=0;i<Car.value.length;i++){
                    if(Car.value[i].id === ID){
                        Car.value[i].quantity += 1
                        Car.value[i].total = Car.value[i].price * Car.value[i].quantity
                        total()
                        ShowAddCar()
                        return 
                    }
                }
                for(let i=0;i<Commodity.value.length;i++){
                    if(Commodity.value[i].id === ID){
                        addCarCommodity.id = Commodity.value[i].id
                        addCarCommodity.img = Commodity.value[i].img
                        addCarCommodity.name = Commodity.value[i].name
                        addCarCommodity.price = Commodity.value[i].nprice
                        addCarCommodity.quantity += 1
                        addCarCommodity.total = addCarCommodity.price * addCarCommodity.quantity
                        Car.value.push(addCarCommodity)
                        CarQuantity.value += 1
                        total()
                        ShowAddCar()
                        return 
                    }
                }
            }
                // 數量增加
                function addQuantity(ID){
                for(let i=0;i<Car.value.length;i++){
                    if(Car.value[i].id === ID){
                        Car.value[i].quantity += 1
                        Car.value[i].total = Car.value[i].price * Car.value[i].quantity
                        total()
                        ShowAddCar()
                        return 
                    }
                }
            }
            // 數量減少
            function removeQuantity(ID){
                for(let i=0;i<Car.value.length;i++){
                    if(Car.value[i].id === ID){
                        if(Car.value[i].quantity === 1){
                            removeCar(ID)
                            return 
                        }else{
                            Car.value[i].quantity -= 1
                            Car.value[i].total = Car.value[i].price * Car.value[i].quantity
                            total()
                            ShowAddCar()
                            return 
                        }
                        
                    }
                }
            }
                // 移除購物車
            function removeCar(ID){
                for(let i=0;i<Car.value.length;i++){
                    if(Car.value[i].id === ID){
                        CarQuantity.value -= 1
                        Car.value.splice(i,1)
                        total()
                    }
                }
            }
                // 結帳
            function total(){
                let total = 0
                for(let i=0;i<Car.value.length;i++){
                    total = total + Car.value[i].total
                }    
                totalMoney.value = total
            }


            const pay = ref(false)
            const payname = ref("")
            const payaddress = ref("")
            const payemail = ref("")
            const paytote = ref("")
            const paymessage = ref("")

            const PayData = ref({name:"",address:"",email:"",tote:"",message:""}) 

            let Today = new Date();
            const OrderNumber = ref(0)
            function checkout(){
                if(Car.value.length === 0){
                    alert("請選購商品")
                }else if(payname.value === "" || payaddress.value === "" || payemail.value === "" || paytote.value === ""){
                    alert("請輸入完整資料")
                }else{
                    PayData.value = {
                    name:payname,
                    address:payaddress,
                    email:payemail,
                    tote:paytote,
                    message:paymessage
                }
                Today = new Date();
                OrderNumber.value = String(Today.getFullYear()) + (Today.getMonth()+1) + Today.getDate() + Today.getHours()+ Today.getMinutes() + Today.getSeconds();
                set(fireref(db,"Order/"+OrderNumber.value),{
                    commodity:Car.value,
                    total:totalMoney.value,
                    time:Today.getFullYear() +"年"+ (Today.getMonth()+1) +"月"+ Today.getDate() +"日"+ Today.getHours()+"時"+ Today.getMinutes() +"分"+ Today.getSeconds()+"秒",
                    data:PayData.value,
                })
                .then(()=>{
                    alert("訂單已送出"+"，您的訂單編號為："+OrderNumber.value)
                    Car.value = []
                    CarQuantity.value = 0
                    total()
                })
                .catch((error)=>{
                    alert("資料無法儲存")
                })
                }
            }

            // 購物車結束

            // 訂單查詢
            const OrderSearchNumber = ref("")
            const OrderSearchNumber2 = ref("")
            const OrderSearchNumber3 = ref("")
            const OrderCar = ref([])
            const OrderTime = ref("")
            const OrderTotal = ref(0)
            const OrderData = ref({})
            const OrderSearchUse = ref(false)


            function OrderSearch(){
                if(OrderSearchNumber.value === ""){
                    alert("請輸入訂單編號")
                }else{
                OrderSearchNumber3.value = OrderSearchNumber2.value
                OrderSearchNumber2.value = OrderSearchNumber.value
                const dbref = fireref(db)
                get(child(dbref,"Order/"+OrderSearchNumber.value)).then((snapsoht)=>{
                    OrderCar.value = snapsoht.val().commodity
                    OrderTime.value = snapsoht.val().time
                    OrderTotal.value = snapsoht.val().total
                    OrderData.value = snapsoht.val().data
                    OrderSearchUse.value = true
                })
                .catch((error)=>{
                    OrderSearchNumber2.value = OrderSearchNumber3.value
                    alert("查無此訂單")
                })
                }
            }


            // 訂單查詢結束






            // 管理員功能
            const UserMod = ref('')



                // 登入
            const UserName = ref('')
            const UserPassworld = ref('')
            function Login(){
                const dbref = fireref(db)
                if(UserName.value === "" || UserPassworld.value === ""){
                    alert("請輸入完整登入資料")
                }else{
                    get(child(dbref,"Mod/"+UserName.value)).then((snapsoht)=>{
                    if(snapsoht.val() === null){
                        alert("查無此帳戶")
                    }else{
                        if(snapsoht.val().data.passworld === UserPassworld.value){
                            alert("登入成功")
                            UserMod.value = "GM"
                            page.value = "mall"
                        }else{
                            alert("密碼錯誤")
                        }
                    }
                    })
                    .catch((error)=>{
                        alert("資料存取錯誤")
                    })
                }

            }

                // 編輯
            const edit = ref(false)
            const editOK = ref(false)
            const UpdataID = ref('')
            const UpdataName = ref('')
            const UpdataType = ref('')
            const UpdataImg = ref('')
            const UpdataPrice =ref()
            const UpdataNPrice =  ref()
            const UpdataInfo =  ref('')
            function UseEdit(ID){
                const dbref = fireref(db)
                get(child(dbref,"Commodity/"+ID)).then((snapsoht)=>{
                    UpdataName.value = snapsoht.val().name
                    UpdataType.value = snapsoht.val().type
                    UpdataImg.value = snapsoht.val().img
                    UpdataPrice.value = snapsoht.val().price
                    UpdataNPrice.value =  snapsoht.val().nprice
                    UpdataInfo.value =  snapsoht.val().info
                })
                .catch((error)=>{
                    alert("資料存取錯誤")
                })
            }
            function editCommodity(ID){
                if(UserMod.value === "GM"){
                    update(fireref(db,"Commodity/"+ID),{
                    name : UpdataName.value,
                    type : UpdataType.value,
                    img : UpdataImg.value,
                    price : UpdataPrice.value,
                    nprice : UpdataNPrice.value,
                    info : UpdataInfo.value,
                })
                .then(()=>{
                    editOK.value = true
                    getdata()
                })
                .catch((error)=>{
                    alert("編輯失敗")
                })
                }else{
                    alert("你不是管理員")
                }
            }

                // 刪除
            const removeOK = ref(false)    
            function removeCommodity(ID){
                if(UserMod.value === "GM"){
                    remove(fireref(db,"Commodity/"+ID))
                    .then(()=>{
                        removeOK.value = true
                    })
                    .catch((error)=>{
                        alert("移除失敗")
                    }) 
                }else{
                    alert("你不是管理員")
                }

            }

                // 新增商品
            const NowAdd = ref(false)
            const NowAddOK = ref(false)
            const CommodityID = ref('')
            const CommodityName = ref('')
            const CommodityType = ref('')
            const CommodityImg = ref('')
            const CommodityPrice = ref()
            const CommodityNPrice = ref()
            const CommodityInfo = ref("")

            function setbase(){
                if(UserMod.value === "GM"){
                    set(fireref(db,"Commodity/"+CommodityID.value),{
                    id:CommodityID.value,
                    name:CommodityName.value,
                    type:CommodityType.value,
                    img:CommodityImg.value,
                    price:CommodityPrice.value,
                    nprice:CommodityNPrice.value,
                    info:CommodityInfo.value,
                })
                .then(()=>{
                    NowAddOK.value = true
                    getdata()
                    CommodityID.value = ""
                    CommodityName.value = ""
                    CommodityType.value = ""
                    CommodityImg.value = ""
                    CommodityPrice.value = 0
                    CommodityNPrice.value = 0
                    CommodityInfo.value = ""
                })
                .catch((error)=>{
                    alert("資料無法儲存")
                })
                }else{
                    alert("你不是管理員")
                }

            }
            // 管理員功能

            let timeOut
            const isShow = ref(false)
            function ShowAddCar(){
                clearTimeout(timeOut)
                isShow.value = true
                timeOut = setTimeout(() => isShow.value = false, 1500)
            }

            return{
                page,
                Commodity,
                type,
                Search,
                filterProducts,
                CommodityID,
                CommodityName,
                CommodityType,
                CommodityImg,
                CommodityPrice,
                CommodityNPrice,
                CommodityInfo,
                editCommodity,
                removeCommodity,
                setbase,
                getdata,
                edit,
                UpdataID,
                UpdataName,
                UpdataType,
                UpdataImg,
                UpdataPrice,
                UpdataNPrice,
                UpdataInfo,
                UseEdit,
                NowAdd,
                UserMod,
                editOK,
                NowAddOK,
                removeOK,
                addCar,
                Car,
                CarQuantity,
                totalMoney,
                total,
                removeCar,
                addQuantity,
                removeQuantity,
                isShow,
                ShowAddCar,
                info,
                checkout,
                OrderNumber,
                OrderSearchNumber,
                OrderSearchNumber2,
                OrderSearch,
                OrderCar,
                OrderTime,
                OrderTotal,
                OrderData,
                OrderSearchUse,
                pay,
                PayData,
                payname,
                payaddress,
                payemail,
                paytote,
                paymessage,
                UserName,
                UserPassworld,
                Login,
            }
        }
    }).mount("#wrapper")
    // Vue

    </script>




    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>


</body>
</html>