<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>黑喵的窩</title>


    <script src="https://kit.fontawesome.com/70c17f03dd.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/j449_7_1.ico"> 

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">


</head>
<body>
       


    <div id="wrapper">
        <div id="header" class="fixed-div">
            <nav class="nav">
                <div class="nav-1">
                    <a href="">
                        <img src="images/j442_8_9.png" alt="">
                    </a>
                </div>
                <div class="nav-2">
                    <ul>
                        <li>
                            <a href="#content" @click="page = 'content' ">首頁</a>
                        </li>
                        <li>
                            <a href="#mall" @click="page = 'mall' , getdata()">商品目錄</a>
                        </li>
                        <li>
                            <a href="#order" @click="page = 'order' ">訂單</a>
                        </li>
                        <li>
                            <a href="#login" @click="page = 'login' ">登入</a>
                        </li>
                        <li style="display: none;">歡迎 ***先生！</li>
                    </ul>
                </div>
            </nav>
        </div>




        <!-- 首頁 -->
        <div id="content" class="page" :class="{ display_none:page !== 'content'}">
            <div class="content-home">
                <div class="content-00 content-01">
                    <div class="content-swiper">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="images/j404_13_1.png" alt="1">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="images/j404_13_2.png" alt="2">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="images/j404_13_3.png" alt="3">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="images/j404_13_4.png" alt="4">
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
    
                    </div>
                </div>
                <div class="content-00 content-02">
                    <h3>熱門商品</h3>
                    <div class="content-swiper">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper Hot">

                                <div class="swiper-slide" v-for="(item , index) in HotCard" :key="index" :style="item.style">
                                    <div class="commodity-card">
                                        <div class="commodity-card-top">
                                            <img :src="item.img" alt="">
                                        </div>
                                        <div class="commodity-card-bottom">
                                            <h4>{{ item.name }}</h4>
                                            <h5>{{ item.money }}</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                          </div>
                    </div>
                </div>
                <div class="content-00 content-03">
                    <img src="images/j449_13_15.png" alt="">
                    <br>
                    <div class="content-text">
                         <h4>歡慶開幕</h4>
                         <p>全館商品結帳輸入 <span>LoveMeow</span> 享85折優惠</p>
                         
                    </div>
                </div>
                <div class="content-00 content-02">
                    <h3>新品上架</h3>
                    <div class="content-swiper">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper New">

                                <div class="swiper-slide" v-for="(item , index) in NewCard" :key="index" :style="item.style">
                                    <div class="commodity-card">
                                        <div class="commodity-card-top">
                                            <img :src="item.img" alt="">
                                        </div>
                                        <div class="commodity-card-bottom">
                                            <h4>{{ item.name }}</h4>
                                            <h5>{{ item.money }}</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                          </div>
                    </div>
                </div>
                <div class="content-00 content-05">
                    <h3>當前活動</h3>
                    <div class="content-text">
                        <a class="content-event" href="">
                            <div>
                            <img src="images/j381_6_8.png" alt="">
                            <h4>會員數爆滿！！10/20-11/30期間多項商品優惠販售。</h4>
                            </div>
                        </a>
                         
                        <a class="content-event" href="">
                            <div>
                            <img src="images/j401_6_3.png" alt="">
                            <h4>不給糖就搗蛋，國際食品９折優惠中。</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 商品 -->
        <div id="mall" class="page" :class="{ display_none:page !== 'mall'}">
            <div class="mall-home">
                <div class="mall-swiper">
                    <div class="swiper mySwiper3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="img_box">
                                <img src="images/j448_10_1.png" alt="1">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_box">
                                <img src="images/j448_10_1.png" alt="1">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                </div>  

                <div class="mall-list">
                    
                    <button @click="NowAdd = true" class="gm-add" :class="{ display_none:UserMod !== 'GM'}">
                        新增商品
                    </button>


                    <div class="mall-list-01">
                        <ul>
                            <li @click="type = 'all' " :class="{ mall_list_use:type == 'all'}">全部商品</li>
                            <li @click="type = '3c' " :class="{ mall_list_use:type == '3c'}">3C商品</li>
                            <li @click="type = 'food' " :class="{ mall_list_use:type == 'food'}">食品</li>
                            <li @click="type = 'book' " :class="{ mall_list_use:type == 'book'}">書籍</li>
                            <li @click="type = 'life' " :class="{ mall_list_use:type == 'life'}">居家百貨</li>
                            <li @click="type = 'pet' " :class="{ mall_list_use:type == 'pet'}">寵物用品</li>
                        </ul>
                    </div>
                    <div class="mall-list-02">
                        <div><i class="fa-solid fa-magnifying-glass"></i></div>
                        <input type="text" v-model.lazy.trim="Search">
                    </div>

                </div>

                <div class="mall-catalog">
                    <div class="commodity-catalog">


                        <div class="commodity"  v-for="item in filterProducts(Commodity)" :key="item.id" :class="{ display_none:type !== item.type && type !== 'all'}">
                            <div class="gm-button" :class="{ display_none:UserMod !== 'GM'}">
                                <div @click="edit = true, UseEdit(item.id), UpdataID = item.id" class="gm-edit"><i class="fa-solid fa-gear fa-2x"></i></div>
                                <div @click="removeCommodity(item.id), getdata()" class="gm-remove"><i class="fa-solid fa-bomb fa-2x"></i></div>
                            </div>
                            <div class="commodity-img">
                                <img :src="item.img" alt="">
                            </div>
                            <div class="commodity-data">
                                <h4>{{ item.name }}</h4>
                                <span>${{ item.nprice }}</span>
                                <p>${{ item.price }}</p>
                            </div>
                            <div class="commodity-button">
                                <button class="commodity-button-1">詳細內容</button>
                                <button class="commodity-button-2">加入購物車</button>
                            </div>
                        </div>

                        <div class="gm-edit-scene" :class="{ display_none:!edit && !NowAdd}">
                            <div class="gm-commodity" :class="{ display_none:!edit}">
                                <span>您正在編輯，編號：{{UpdataID}} 商品</span>
                                <p>商品圖片</p>
                                <input v-model="UpdataImg" type="text">
                                <p>商品名稱</p>
                                <input v-model="UpdataName" type="text">
                                <p>商品類別</p>
                                <select v-model.lazy.trim="UpdataType">
                                    <option value="3c">3C商品</option>
                                    <option value="food">食品</option>
                                    <option value="book">書籍</option>
                                    <option value="life">居家百貨</option>
                                    <option value="pet">寵物用品</option>
                                </select>
                                <p>商品原價</p>
                                <input v-model="UpdataPrice" type="number">
                                <p>商品售價</p>
                                <input v-model="UpdataNPrice" type="number">
                                <button @click="editCommodity(UpdataID), edit = false">完成編輯</button>
                                <button @click="edit = false">取消編輯</button>
                            </div>

                            <div class="gm-commodity" :class="{ display_none:!NowAdd}">
                                <span>您正在新增商品...</span>
                                <p>商品編號</p>
                                <input placeholder="商品ID" type="text" v-model.lazy.trim="CommodityID">
                                <p>商品名稱</p>
                                <input placeholder="商品name" type="text" v-model.lazy.trim="CommodityName">
                                <p>商品類別</p>
                                <select v-model.lazy.trim="CommodityType">
                                    <option value="3c">3C商品</option>
                                    <option value="food">食品</option>
                                    <option value="book">書籍</option>
                                    <option value="life">居家百貨</option>
                                    <option value="pet">寵物用品</option>
                                </select>
                                <p>商品圖片</p>
                                <input placeholder="商品img" type="text" v-model.lazy.trim="CommodityImg">
                                <p>商品原價</p>
                                <input placeholder="商品原價" type="number" v-model.lazy.trim="CommodityPrice">
                                <p>商品售價</p>
                                <input placeholder="商品價格" type="number" v-model.lazy.trim="CommodityNPrice">
                                <button @click="setbase(), NowAdd = false">新增商品</button>
                                <button @click="NowAdd = false">取消新增</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 訂單 -->
        <div id="order" class="page" :class="{ display_none:page !== 'order'}">


        </div>
        <!-- 登入 -->
        <div id="login" class="page" :class="{ display_none:page !== 'login'}">
            登入
        </div>
        <!-- 底部 -->
        <div id="footer">
            <div class="footer-00">
                <div class="footer-01">
                    <p>關於黑喵的窩</p>
                    <p>加入我們</p>
                    <p>相關條款</p>
                    <p>隱私權政策</p>
                </div>
                <div class="footer-02">
                    <p>聯絡我們</p>
                    <p>TEL:06-78xxxxx</p>
                    <p>Mail:Meow9520@gmail.com</p>
                    <p>地址:XX市XX區</p>
                </div>
            </div>
            <div class="footer-03">
                <div>
                    <i class="fa-brands fa-facebook fa-2x"></i>
                    <i class="fa-brands fa-youtube fa-2x"></i>
                    <a href="https://github.com/JustWuu" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
                </div>
                <p>©  rty21785／2022 中文的作品集</p>
            </div>
        </div>
    </div>


    
    <script type="module">

    //firebase
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
    import { getDatabase, set, get, child, update, remove, ref as fireref, } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-database.js";

    const firebaseConfig = {
        apiKey: "AIzaSyD34xPhJqs3heZUCKmGvc5E-5PBvD-KE4c",
        authDomain: "mallpractise-cca1b.firebaseapp.com",
        projectId: "mallpractise-cca1b",
        storageBucket: "mallpractise-cca1b.appspot.com",
        messagingSenderId: "543243109029",
        appId: "1:543243109029:web:ee72f293bbfd843319434c"
    };
    // Initialize Firebase
    const firebase = initializeApp(firebaseConfig);
    const db = getDatabase();

    //firebase



    // Vue
    import { createApp ,ref ,watch ,onMounted} from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.40/vue.esm-browser.min.js"
    const NewApp = createApp({
        setup(){
            // 首頁
            const page = ref('mall')
            const HotCard = ref([
            {id:"A0001",
            name:"商品1",
            img:"images/j449_15_1.png",
            money:100,
            },
            {id:"A0002",
            name:"商品2",
            img:"images/j449_15_2.png",
            money:6100,
            },
            {id:"A0001",
            name:"商品1",
            img:"images/j449_15_3.png",
            money:100,
            },
            {id:"A0002",
            name:"商品2",
            img:"images/j449_15_4.png",
            money:6100,
            },
            {id:"A0001",
            name:"商品1",
            img:"images/j449_15_5.png",
            money:100,
            },
            ])
            const NewCard = ref([
            {id:"A0001",
            name:"商品1",
            img:"images/j449_15_5.png",
            money:100,
            },
            {id:"A0002",
            name:"商品2",
            img:"images/j449_15_4.png",
            money:6100,
            },
            {id:"A0001",
            name:"商品1",
            img:"images/j449_15_2.png",
            money:100,
            },
            {id:"A0002",
            name:"商品2",
            img:"images/j449_15_1.png",
            money:6100,
            },
            {id:"A0001",
            name:"商品1",
            img:"images/j449_15_3.png",
            money:100,
            },
            ])
            // 首頁結束

            // 商品
            const type = ref('all')
            const Commodity = ref([])
            const Search = ref('')
            function filterProducts(Commodity) {
                return Commodity.filter(Commodity => Commodity.name.match(Search.value));
            }
            
            // 商品結束

            // 取得firebase商品資料
                // 初始資料
            onMounted(()=>{
                const dbref = fireref(db)
                get(child(dbref,"Commodity")).then((snapsoht)=>{
                    if(snapsoht.exists()){
                        const data = snapsoht.val()
                        const snapsohtData = []
                        for (let item in data){
                            snapsohtData.push(data[item])
                        }
                        Commodity.value = snapsohtData
                    }else{
                        console.log("沒有任何商品...")
                    }
                })
                .catch((error)=>{
                    alert("資料存取錯誤")
                })
            })
            
                // 點擊更新資料
            function getdata(){
                const dbref = fireref(db)
                get(child(dbref,"Commodity")).then((snapsoht)=>{
                    if(snapsoht.exists()){
                        const data = snapsoht.val()
                        const snapsohtData = []
                        for (let item in data){
                            snapsohtData.push(data[item])
                        }
                        Commodity.value = snapsohtData
                        console.log('資料更新')
                    }else{
                        const snapsohtData = []
                        Commodity.value = snapsohtData
                        alert("沒有任何商品")
                    }
                })
                .catch((error)=>{
                    alert("資料存取錯誤")
                })
            }
            // 取得firebase商品資料





            // 管理員功能
            const UserMod = ref('GM')

                // 編輯
            const edit = ref(false)
            const UpdataID = ref('')
            const UpdataName = ref('')
            const UpdataType = ref('')
            const UpdataImg = ref('')
            const UpdataPrice =ref()
            const UpdataNPrice =  ref()
            function UseEdit(ID){
                const dbref = fireref(db)
                get(child(dbref,"Commodity/"+ID)).then((snapsoht)=>{
                    console.log(snapsoht.val())
                    UpdataName.value = snapsoht.val().name
                    UpdataType.value = snapsoht.val().type
                    UpdataImg.value = snapsoht.val().img
                    UpdataPrice.value = snapsoht.val().price
                    UpdataNPrice.value =  snapsoht.val().nprice
                })
                .catch((error)=>{
                    alert("資料存取錯誤")
                })
            }
            function editCommodity(ID){
                console.log(ID,"編輯")
                
                update(fireref(db,"Commodity/"+ID),{
                    name : UpdataName.value,
                    type : UpdataType.value,
                    img : UpdataImg.value,
                    price : UpdataPrice.value,
                    nprice : UpdataNPrice.value,
                })
                .then(()=>{
                    alert("編輯完成")
                    getdata()
                })
                .catch((error)=>{
                    alert("編輯完成")
                })

            }

                // 刪除
            function removeCommodity(ID){
                console.log(ID,"刪除")
                remove(fireref(db,"Commodity/"+ID))
                .then(()=>{
                    alert("移除成功")
                })
                .catch((error)=>{
                    alert("移除失敗")
                })
            }

                // 新增商品
            const NowAdd = ref(false)
            const CommodityID = ref('')
            const CommodityName = ref('')
            const CommodityType = ref('')
            const CommodityImg = ref('')
            const CommodityPrice = ref()
            const CommodityNPrice = ref()

            function setbase(){
                set(fireref(db,"Commodity/"+CommodityID.value),{
                    id:CommodityID.value,
                    name:CommodityName.value,
                    type:CommodityType.value,
                    img:CommodityImg.value,
                    price:CommodityPrice.value,
                    nprice:CommodityNPrice.value,
                })
                .then(()=>{
                    alert("資料儲存完成")
                    getdata()
                })
                .catch((error)=>{
                    alert("資料無法儲存")
                })
            }
            // 管理員功能


            return{
                page,
                HotCard,
                NewCard,
                Commodity,
                type,
                Search,
                filterProducts,
                CommodityID,
                CommodityName,
                CommodityType,
                CommodityImg,
                CommodityPrice,
                CommodityNPrice,
                editCommodity,
                removeCommodity,
                setbase,
                getdata,
                edit,
                UpdataID,
                UpdataName,
                UpdataType,
                UpdataImg,
                UpdataPrice,
                UpdataNPrice,
                UseEdit,
                NowAdd,
                UserMod,
            }
        }
    }).mount("#wrapper")
    // Vue

    </script>




    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>


</body>
</html>