body {
  background: rgba(212, 212, 212, 0.623);
}

#header {
  width: 100%;
  background: rgba(255, 255, 255, 0.767);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}
#header nav {
  margin: 10px 2rem 10px 2rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
#header nav .nav-1 a {
  display: flex;
}
#header nav .nav-1 img {
  max-width: 100%;
  max-height: 60px;
}
#header nav .nav-2 {
  height: auto;
  margin: auto 0 auto 0;
}
#header nav .nav-2 ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}
#header nav .nav-2 ul li {
  padding: 0 10px 0 10px;
}
#header nav .nav-2 ul li a {
  text-decoration: none;
  color: black;
}

.fixed-div {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9453;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 90px;
  background: white;
  border-radius: 10px;
  max-width: 1100px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#content .content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  width: 100%;
  border-radius: 5px;
}
#content .content-home .content-swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
#content .content-home h3 {
  margin: 5px 0px 0 0px;
  padding: 20px 0px 20px 20px;
  background: rgb(239, 225, 252);
}
#content .content-home .content-00 {
  width: 100%;
}
#content .content-home .content-01 .swiper {
  margin-top: 10px;
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden !important;
}
#content .content-home .content-01 .swiper .swiper-wrapper .swiper-slide {
  width: 100% !important;
}
#content .content-home .content-01 .swiper .swiper-wrapper .swiper-slide .img_box img {
  width: 100%;
}
#content .content-home .content-02 .swiper {
  max-width: 99%;
  height: 100%;
  margin: 0;
}
#content .content-home .content-02 .swiper-slide {
  width: 25%;
  text-align: center;
  margin: 10px 0 10px 10px !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .content-home .content-03 {
  background: rgb(197, 229, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#content .content-home .content-03 img {
  width: 100px;
  margin-right: 20px;
}
#content .content-home .content-03 span {
  color: rgb(255, 145, 0);
}
#content .content-home .content-05 .content-text {
  display: flex;
}
#content .content-home .content-05 .content-text .content-event {
  border: 2px solid #ced4da;
  width: 50%;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}
#content .content-home .content-05 .content-text .content-event img {
  width: 100%;
}
#content .content-home .content-05 .content-text .content-event h4 {
  margin: 5px;
  color: black;
  text-decoration: none;
}

#mall {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#mall .mall-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#mall .mall-home .mall-swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
#mall .mall-home .mall-swiper .swiper {
  border-radius: 10px;
  overflow: hidden !important;
}
#mall .mall-home .mall-swiper .swiper .swiper-wrapper .swiper-slide {
  width: 100% !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#mall .mall-home .mall-swiper .swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
#mall .mall-home .mall-swiper .swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
#mall .mall-home .mall-list {
  width: 20%;
  margin-top: 20px;
  margin-bottom: auto;
}
#mall .mall-home .mall-list .mall-list-01 {
  padding: 0 20px 0 20px;
  border-radius: 5px;
}
#mall .mall-home .mall-list .mall-list-01 .mall_list_use {
  background: rgb(152, 152, 211);
  color: white;
}
#mall .mall-home .mall-list .mall-list-01 ul {
  padding: 0;
  list-style: none;
  border-radius: 5px;
}
#mall .mall-home .mall-list .mall-list-01 ul li {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
  cursor: pointer;
}
#mall .mall-home .mall-list .mall-list-01 ul li:hover {
  background: rgba(152, 152, 211, 0.507);
}
#mall .mall-home .mall-list .mall-list-02 {
  padding: 0 20px 0 20px;
  display: flex;
  border-radius: 5px;
}
#mall .mall-home .mall-list .mall-list-02 div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(212, 212, 212);
}
#mall .mall-home .mall-list .mall-list-02 input {
  width: 80%;
  padding: 2px 5px 2px 5px;
  font-size: 1.2rem;
  color: #49525c;
  border: 1px solid #ced4da;
}
#mall .mall-home .mall-catalog {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 600px;
}
#mall .mall-home .mall-catalog .commodity-catalog {
  padding: 0 20px 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#mall .mall-home .mall-catalog .commodity-catalog .commodity {
  width: 22%;
}

.commodity {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 5px;
  transition: all 0.3s;
  border-radius: 7px;
  transform: translate(0, 0);
}
.commodity .commodity-img {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.commodity .commodity-img img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.commodity .commodity-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90px;
  padding: 0 10px 0 10px;
}
.commodity .commodity-data h4 {
  margin: 0;
  width: 100%;
  font-size: 1.1rem;
}
.commodity .commodity-data span {
  font-size: 1.5rem;
  width: 50%;
  padding: 0 0 0 10px;
  color: red;
}
.commodity .commodity-data p {
  font-size: 1rem;
  text-decoration: line-through;
  width: 40%;
  margin: 0;
  text-align: right;
  color: rgb(94, 94, 94);
}
.commodity .commodity-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.commodity .commodity-button .commodity-button-1 {
  color: #212529;
  background-color: #cccccc;
  border: none;
}
.commodity .commodity-button .commodity-button-2 {
  color: white;
  background-color: #f58534;
  border: none;
}
.commodity .commodity-button .commodity-button-1:hover {
  background-color: #adadad;
}
.commodity .commodity-button .commodity-button-2:hover {
  background-color: #cc661d;
}
.commodity .commodity-button button {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  margin: 5px;
  cursor: pointer;
}

.commodity:hover {
  box-shadow: 0 2px 5px 0 rgba(48, 55, 66, 0.3);
  transform: translate(0, -5px);
}

#order {
  padding: 10px 10px 20px 10px;
}
#order .order-search h1 {
  width: 100%;
  text-align: center;
  margin: 50px 0 20px 0;
}
#order .order-search div {
  height: 36px;
  margin: 0 0 50px 0;
}
#order .order-search div input {
  width: 400px;
  padding: 5px 8px 5px 8px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
}
#order .order-search div button {
  padding: 5px;
  color: #fff;
  background-color: #2f3737;
  border-color: #2f3737;
  height: 100%;
}

#login {
  padding: 10px;
}
#login h3 {
  margin: 0;
  text-align: center;
}
#login p {
  margin: 5px;
}
#login span {
  display: block;
  color: red;
}
#login input {
  height: auto;
  padding: 5px;
  font-size: 1.3rem;
  border: 1px solid #ced4da;
}
#login .login-button {
  padding: 5px 5px 5px 5px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  margin: 5px 0 5px 0;
  cursor: pointer;
  color: #ffffff;
  background-color: #1387e6;
  border: none;
  width: 100%;
}

.gm-button {
  position: absolute;
  width: 100%;
  display: none;
}

.gm-edit {
  color: rgb(58, 58, 58);
  margin: 12px;
  float: left;
  cursor: pointer;
}

.gm-remove {
  color: rgb(235, 67, 55);
  margin: 10px;
  float: right;
  cursor: pointer;
}

.gm-add {
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  cursor: pointer;
  color: #db0421;
  background-color: #ffe600;
  border: none;
  width: 100%;
  display: none;
}

.gm-add:hover {
  background-color: #c7b729;
}

.gm-scene {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(121, 121, 121, 0.623);
  top: 0;
  left: 0;
}

.gm-commodity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  background: linear-gradient(20deg, #98a5e0, rgb(219, 167, 219));
  padding: 10px;
}
.gm-commodity span {
  color: rgb(1, 12, 168);
  font-size: 1.3rem;
}
.gm-commodity p {
  margin: 5px 0 0 0;
}
.gm-commodity input {
  width: 100%;
  padding: 2px 5px 2px 5px;
  font-size: 1.2rem;
  color: #49525c;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 5px 0 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.gm-commodity button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  margin: 5px;
  cursor: pointer;
  color: #212529;
  background-color: #cccccc;
  border: none;
}
.gm-commodity button:hover {
  background-color: #adadad;
}
.gm-commodity select {
  width: 100%;
  font-size: 1.2rem;
  color: #49525c;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#footer {
  width: 100%;
  background: rgb(85, 85, 85);
  display: flex;
  flex-wrap: nowrap;
}
#footer p {
  margin: 10px;
  font-size: 1em;
}
#footer .footer-00 {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
}
#footer .footer-00 .footer-01 {
  width: 50%;
  margin: 0 0 0 30px;
}
#footer .footer-00 .footer-02 {
  width: 50%;
}
#footer .footer-03 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer .footer-03 i {
  margin: 0 10px 0 10px;
}
#footer .footer-03 a {
  color: black;
}

.display_none {
  display: none !important;
}

.display_flex {
  display: flex !important;
}

.display_inline_block {
  display: inline-block !important;
}

@media (min-width: 1100px) {
  .content-02 .swiper-slide {
    width: 24% !important;
  }
}
@media (max-width: 1100px) {
  .page {
    max-width: 900px;
  }
  .content-02 .swiper-slide {
    width: 23.8% !important;
  }
}
@media (max-width: 900px) {
  .page {
    max-width: 700px;
  }
  .content-02 .swiper-slide {
    width: 31.7% !important;
  }
  #footer {
    flex-wrap: wrap;
  }
  #footer .footer-00 {
    width: 100%;
    margin-bottom: 10px;
  }
  #footer .footer-00 .footer-01 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
  #footer .footer-00 .footer-01 p {
    width: 100%;
    text-align: center;
    margin: 5px;
  }
  #footer .footer-00 .footer-02 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #footer .footer-00 .footer-02 p {
    width: 100%;
    text-align: center;
    margin: 5px;
  }
  #footer .footer-03 {
    width: 100%;
  }
  #mall .mall-home .mall-catalog .commodity-catalog .commodity {
    width: 31%;
  }
}
@media (max-width: 750px) {
  .page {
    max-width: 480px;
  }
  .content-02 .swiper-slide {
    width: 47% !important;
  }
  #mall .mall-home .mall-list {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #mall .mall-home .mall-catalog {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #mall .mall-home .mall-catalog .commodity-catalog {
    padding: 0;
  }
  #mall .mall-home .mall-catalog .commodity-catalog .commodity {
    width: 45%;
  }
  #order .order-search div input {
    width: 250px;
  }
}/*# sourceMappingURL=style.css.map */